html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    text-align: center;
}
table{
    margin: 0 auto;
    background-color: #c3c3c3c3;
    padding: 5px;
    border-radius: 4px;
}
table thead tr th#result{
   height: 100px;
   border: 1px solid grey;
   background-color: #fff;
   text-align: right;
   padding: 0 20px;
   font-size: 2rem;
}
table tbody tr td {
    padding: 1px;
 }
table tbody tr td button{
   width: 100px;
   height: 100px;
   background-color: #fff;
   border: 1px solid grey;
   border-radius: 4px;
}
